* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
}
html {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
	padding: 0;
	margin: 0;
}

#dark {
	background: rgb(33, 26, 26);
}

h1 {
	text-align: center;
	margin: 30px auto;
}

.d-flex {
	display: flex;
	justify-content: space-evenly;
}

#data td {
	padding: 10px;
}

th,
td {
	font-size: 20px;
}

[name='money'],
[name='months'],
[name='interest'] {
	color: black;
	font-size: 15px;
}

.graph {
	vertical-align: bottom;
}

#height-before {
	background-color: tomato;
	width: 40px;
	height: 100px;
	margin: 0 auto;
}

#height-after {
	background: springgreen;
	width: 40px;
	height: 0px;
	margin: 0 auto;
}

#money-before,
#money-after {
	padding: 5px;
}
